<!-- HEADER -->
<header class="header">
    <div class="logo-container">
        <a href="/" style="display: flex; align-items: center; text-decoration: none;">
            <img src="/img/nchsLogo.png" alt="School Logo">
            <h1 style="margin: 0; color: #dc4c4c;">Retake App</h1>
        </a>
    </div>
    <nav class="nav-links">
        <a href="/dash">Dashboard</a>
        <a href="/help">Help</a>
        <a href="/about">About</a>
        <a href="/account">Account</a>
    </nav>

    <% if (loggedIn) { %>
        <a id="notification-btn" class="notifications">Notifications</a>
    <% } else { %>
        <a href="/auth" class="login-button">Login/Sign In</a>
    <% } %>

    <div id="notification-popup" class="notification-popup">
        <div class="popup-header">
            <span>Notifications</span>
            <button id="close-popup" class="close-popup">&times;</button>
        </div>
        <div id = "popup-content" class="popup-content">
            <!-- Example notification item -->
            <div class="notification-item" onclick="window.location.href = '/dash'">
                <span class="notification-title">Retake Request</span>
                <span class="notification-message">john.doe@example.com requested to retake the test.</span>
                <button class="delete-notification">&times;</button>
            </div>
        <div class="resize-handle"></div>
    </div>

    <link rel = "stylesheet" href = "/css/notification.css" />
    <script src = "/js/notification.js"></script>
</header>