<!-- HEADER -->
<header class="header">
    <div class="logo-container">
        <a href="/" style="display: flex; align-items: center; text-decoration: none;">
            <img src="/img/nchsLogo.png" alt="School Logo">
            <h1 style="margin: 0; color: #dc4c4c;">Retake App</h1>
        </a>
    </div>
    <nav class="nav-links">
        <a href="/dash">Dashboard</a>
        <a href="/help">Help</a>
        <a href="/about">About</a>
        <a href="/account">Account</a>
    </nav>
    <a href="/auth" class="login-button">Login/Sign In</a>
</header>