<!-- include header -->
<% include("include/_header") %>

<!-- Main Site -->
<main>
    <div class="TopBar">
        <table>
            <tr>
                <td>Photo Place holder</td>
                <td>about</td>
                <td>help</td>
                <td>dash</td>
                <td></td>
                <td>account</td>
            </tr>
        </table>
    </div>
    <div class="HomePage">
        
    </div>
</main>

<!-- End of Main Site -->

<!-- include footer -->
<% include("include/_footer") %>