/* Collapsible Button */
.collapsible {
  background-color: #dc4c4c;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100% !important;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  border-bottom: 1px solid black;
  max-width: 1000px;
}

/* Collapsible Button Hover and Active States */
.collapsible.active,
.collapsible:hover {
  background-color: #bb4343;
}

/* Collapsible Button Plus/Minus Icon */
.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

/* Active State Icon Change */
.collapsible.active:after {
  content: "\2212";
}

/* Collapsible Content */
.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  width: 100%;
  max-width: 1000px;
}

/* Dark Mode */
.dark-mode .collapsible {
  background-color: #333333;
  color: #e0e0e0;
  border-bottom: 1px solid #555555;
}

.dark-mode .collapsible.active,
.dark-mode .collapsible:hover {
  background-color: #444444;
}

.dark-mode .collapsible:after {
  color: #e0e0e0;
}

.dark-mode .collapsible.active:after {
  content: "\2212";
}

.dark-mode .content {
  background-color: #2c2c2c;
  color: #e0e0e0;
  border-top: 1px solid #555555;
}
