<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Retake App</title>

    <!-- Google Font: Montserrat -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href = "/css/dash.css" />
</head>

<body>

    <%- include("../../partials/header") %>


    <!-- MAIN CONTENT -->
    <main class="main-content">
        <h1>Dashboard</h1>
        <p>
            Student dashboard that lets students make retakes
            
        </p>
        <div class="dashboard-grid">
        
        <a href="/dash/request" class="dashboard-box">
            <h2>Request Retake Work</h2>
            <p>Students can request a retake form by choosing teacher and registering for test from there.</p>
        </a>
        
        <a href="/dash/fillout" class="dashboard-box">
            <h2>Fillout Retake Work</h2>
            <p>Once teachers assign retake work to students, the students can complete the work here.</p>
        </a>

    </div>
    </main>

    <%- include("../../partials/footer") %>

</body>

</html>