<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teacher Dashboard</title>

    <!-- Google Font: Montserrat -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href = "/css/dash.css" />
</head>

<body>

    <%- include("../../partials/header") %>

    <!-- MAIN CONTENT -->
    <main class="main-content">
        <div class="dashboard-header">
            <h1>Teacher Dashboard</h1>
        </div>
        <div class="dashboard-grid">
            <a href="/dash/email" class="dashboard-box">
                <h2>Email</h2>
                <p>Manage and send emails for students to take retakes efficiently from this page.</p>
            </a>
            <a href="/dash/classes" class="dashboard-box">
                <h2>Manage Classes</h2>
                <p>Create, edit, and organize classes retakes for students to take when needed.</p>
            </a>
        </div>
    </main>

    <%- include("../../partials/footer") %>

</body>

</html>
