<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>

    <!-- Google Font: Montserrat -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/base.css" />
</head>

<body>

    <%- include("../partials/header") %>


         <!-- MAIN CONTENT -->
         <main class="main-content">
            <h1>About us</h1>
            <table style="text-align:center; margin:auto;">
                <tr>
                  <th><img src="/img/jack.png" alt="Jack img" style="height:150px;"></th>
                  <th><img src="/img/mitch.png" alt="Mitch img" style="height:150px;"></th>
                  <th><img src="/img/austin.png" alt="Austin img" style="height:150px;"></th>
                </tr>
                <tr>
                  <td style="font-size: 150%;">Jack H</td>
                  <td style="font-size: 150%; font-family: 'Montserrat', sans-serif; font-style: italic;">Mitch M</td>
                  <td style="font-size: 150%;">Austin Z</td>
                </tr>
               
              </table>
              <p>Clients: Dr. Miller, Mr. Thompson <br>Mentor: AJ Walter</p>
              

              <br> 
              <h2>History</h2>
              <br>
            <p>
                The retake app started in 2023 as an idea by
                (name 1), (name 2), (name 3) and (name 4) for their software
                engenering 2 project. This year we where tasked with taking over
                the concept and trying to improve on their design. The best
                course of action in our opinion was to restart fully from
                scratch and thats what you see now.
                <br><br>
           </p>
           <h2>
           Sprints
           </h2>
           <p>
                Sprint 1) set up a new website: <br>
                The intention for the first sprint was to quickly plan the website
                out on paper then implement it online. We spent our first week planning
                and the following week setting up a functioning website. While the front end
                was being designed the database was being modeled and implemented in the background
                then we linked the two and finished up the sprint<br><br>
                Sprint 2) name here:<br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in urna leo. Praesent et vestibulum sem. Sed fermentum nisi a est convallis, et fringilla eros suscipit. Maecenas in varius ex, sed efficitur ex. Duis faucibus et tortor at tincidunt.<br><br>
                Sprint 3) name here:<br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in urna leo. Praesent et vestibulum sem. Sed fermentum nisi a est convallis, et fringilla eros suscipit. Maecenas in varius ex, sed efficitur ex. Duis faucibus et tortor at tincidunt.<br><br>
                Sprint 4) name here:<br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in urna leo. Praesent et vestibulum sem. Sed fermentum nisi a est convallis, et fringilla eros suscipit. Maecenas in varius ex, sed efficitur ex. Duis faucibus et tortor at tincidunt.<br><br>
            </p>
            <br>
            
            <br>
            <br>
            <br>
        </main>

        <%- include("../partials/footer") %>
        <script src="/js/darkmode.js"></script>
</body>

</html>