<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="325867374050-58t8688kosk35pieu0unrho7br57pbrg.apps.googleusercontent.com">
    <title>Authenticate</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/auth.css" />
    <meta http-equiv="Cross-Origin-Opener-Policy" content="same-origin-allow-popups">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body>
    <!-- Main Header -->
    <div class="page-header">
        <h1 id="page-header-text">Create an Account</h1>
    </div>

    <!-- Back to Home Link -->
    <div class="extra-links">
        <a href="/" class="back-home">← Back to Home Page</a>
    </div>

    <!-- Auth Container -->
    <div class="auth-container">

        <!--Handle displaying errs-->
        <% if (typeof err !== 'undefined' && err) { %>
            <div class="error-message"><%= err %></div>
        <% } %>

        <div class="form">

            <div class="g-signin2" data-onsuccess="onSignIn"></div>
        </div>

    <%- include("../partials/footer") %>

        <script src="/js/auth.js"></script>
</body>

</html>