<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Help</title>

    <!-- Google Font: Montserrat -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/help.css" />
    <link rel="stylesheet" href="/css/base.css" />
</head>

<body>

    <%- include("../partials/header") %>


    <!-- MAIN CONTENT -->
    <main class="main-content">
        <h2 alt = "FAQ" style="text-align:center;">Frequently Asked Questions</h2>

        <br><br><br>
        <!-- for future questions just copy and paste a previous one -->
        <button class="collapsible" style="border-radius: 5px 5px 0px 0px;">Question 1</button>
        <div class="content">
          <p>Thats actually quite an easy fix, the solution is answer 1</p>
        </div>
        <button class="collapsible">Question 2</button>
        <div class="content">
          <p>Quite confusingly the solution is answer 2, we are currently working on a fix for that</p>
        </div>
        <button class="collapsible">Question 3</button>
        <div class="content">
          <p>just simply click dashboard then click on answer 3</p>
        </div>
        <button class="collapsible">Question 4</button>
        <div class="content">
          <p>I donno</p>
        </div>
        <button class="collapsible">Question 5</button>
        <div class="content">
          <p>I donno</p>
        </div>
        <button class="collapsible">Question 6</button>
        <div class="content">
          <p>I donno</p>
        </div>
        <button class="collapsible">Question 7</button>
        <div class="content">
          <p>I donno</p>
        </div>
    </main>

    <%- include("../partials/footer") %>

    <script src="/js/help.js"></script>

</body>

</html>