<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Retake App</title>

    <!-- Google Font: Montserrat -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/home.css" />
</head>

<body>

    <%- include("../partials/header") %>


    <!-- MAIN CONTENT -->
    <main class="main-content">
        <h1>Welcome to Retake App</h1>
        <p>
            This app helps students easily retake tests and quizzes. Schedule retakes, track your progress, and get your
            grades updated quickly.
        </p>
        <div class="link-container">
            <div class="link-area">
                <a href="/help">Help</a>
                <a href="/about">About</a>
                <a href="/account">Account</a>
                <a href="/dash">Dashboard</a>
            </div>
        </div>
    </main>

    <%- include("../partials/footer") %>

</body>

</html>